<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brillo Eterno</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>BRILLO ETERNO</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">INICIO</a></li>
                <li><a href="{% url 'shop' %}">TIENDA</a></li>
                <li><a href="{% url 'about' %}">NOSOTROS</a></li>
                <li><a href="{% url 'questions' %}">PREGUNTAS</a></li>
                <li><a href="{% url 'contact' %}">CONTACTO</a></li>
                <li><a href="{% url 'cart_detail' %}">CARRITO ({{ cart|length }})</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2025 Brillo Eterno. Todos los derechos reservados.
        </p>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const quantityInput = document.getElementById('id_quantity');
            const minusBtn = document.getElementById('quantity-minus');
            const plusBtn = document.getElementById('quantity-plus');

            if (minusBtn && plusBtn && quantityInput) {
                minusBtn.addEventListener('click', function() {
                    let quantity = parseInt(quantityInput.value);
                    if (quantity > 1) {
                        quantityInput.value = quantity - 1;
                    }
                });

                plusBtn.addEventListener('click', function() {
                    let quantity = parseInt(quantityInput.value);
                    if (quantity < 20) {
                        quantityInput.value = quantity + 1;
                    }
                });
            }
        });
    </script>
</body>
</html>