{% extends 'base.html' %}

{% block content %}
<h2>Tienda</h2>
<div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <a href="{% url 'product_detail' product.id product.slug %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
        </a>
        <p>${{ product.price|floatformat:2 }}</p>
        <form action="{% url 'add_to_cart' product.id %}" method="post">
            {% csrf_token %}
            {{ cart_product_form }}
            <button type="submit" class="btn">Añadir al Carrito</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}